<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to SAO</h1>
    <!-- <div>
        {{ msg_one }} {{ msg_two }}
    </div> -->
    <div>
        Total number of users: {{ total_users }}
    </div>
    <div>            
        <table border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Fullname</th>
                    <th>Email</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{user.id}}</td>
                    <td>{{user.first_name}} {{user.last_name}}</td>
                    <td>{{user.email}}</td>
                    <td>
                        <a href="details/{{user.id}}">
                            View Profile
                        </a>
                    </td>
                    <td>
                        <a href="edituser/{{user.id}}">
                            Edit user
                        </a>
                    </td>
                    <td>
                        <a href="deleteuser/{{user.id}}">
                            Delete user
                        </a>
                    </td>
                </tr>                    
                {% endfor %}
            </tbody>
            
        </table>
    </div>
    <div>
        <a href="newuser">Add a new user</a>
        
    </div>
</body>
</html>